h1{
  color:#0160d5;
}
h2{
  color: white;
}
body {
  margin: 0;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0160d5; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-style: helvetica;
  color: #c0c0c0;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.item-card {
  position: relative;
  margin-top: 1%;
  width: 75%;
  height: 10%;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  background: rgb(138, 138, 138);
  text-align: left;
}
.content-card {
 border: 5px solid rgb(138, 138, 138);
 border-radius: 20px;
}

.file-container {
  position: relative;
  margin-top: 1%;
  margin-left: 10%;
  width: 75%;
  height: 90vh;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  display: inline-block;
}

